@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Окончание регистрации";
}

<h2>You have been successfully registered. Use your email address and password to access the site.</h2>

