<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <connectionStrings>
    <add name="SalesModel" connectionString="data source=COMPUTER\SQLEXPRESS;initial catalog=SalesDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="PathToLog" value="D:\LogFSW.txt" />
    <add key="PathToFolderReports" value="D:\1" />
    <add key="PathToProcessedReports" value="D:\Processed" />
    <add key="ExtensionReports" value="*.csv" />
  </appSettings>
</configuration>